

<div class="row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>
        <div class="action-groups-header" style="float: left; clear: both">
          User Lists
        </div>
        <nb-actions size="medium" style="float: right; font-size: 10px;">
          <nb-action color="success" nbPopover="Add new user" nbPopoverTrigger="hint"
            nbPopoverPlacement="bottom" (click)="addUser()">
            <nb-icon id="addUser" icon="person-add-outline"></nb-icon></nb-action>
        </nb-actions>
      </nb-card-header>
      <nb-card-body  style="height: 200pxpx;min-height: 580px;padding-bottom: 31px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="clear"></div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th scope="col" width="10%">Options</th>
                </tr>
              </thead>
              <tbody *ngIf="data?.length != 0">
                <tr *ngFor="let person of data;let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ person.username | titlecase  }}</td>
                  <td>{{ person.email  }}</td>
                  <td>{{ person.role | titlecase }}</td>
                  <td scope="col">
                    <span class="pointer" (click)="changeStatus(person)"
                      [ngClass]="{'active': person.status == 'active',  'inactive': person.status == 'inactive' }">{{ person.status | titlecase}}</span>
                  </td>
                  <td scope="col" id="options">
                    <span>
                      <nb-action  nbPopover="Update User" nbPopoverTrigger="hint"
                      nbPopoverPlacement="bottom" (click)="updateUser(person.id)"><nb-icon  id="updateUser" icon="edit-2" ></nb-icon></nb-action>
                    </span>
                    &nbsp;
                    &nbsp;
                    <span>
                      <nb-action   nbPopover="Delete User" nbPopoverTrigger="hint"
                      nbPopoverPlacement="bottom" (click)="deleteUser(person)"><nb-icon id="deleteUser" icon="trash-2-outline"></nb-icon></nb-action>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- <i class="fas fa-user"></i>
<nb-icon icon="edit-2" style="color: blue"></nb-icon>
<i class="fa-solid fa-pen-to-square"></i>-->

