<div class="row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
      <nb-card-header>
        <div class="action-groups-header" style="float: left; clear: both">
          User Lists
        </div>
        <nb-actions size="medium" style="float: right; font-size: 10px">
          <nb-action
            color="success"
            nbPopover="Add new user"
            nbPopoverTrigger="hint"
            nbPopoverPlacement="bottom"
            (click)="addUser()"
          >
            <nb-icon id="addUser" icon="person-add-outline"></nb-icon
          ></nb-action>
        </nb-actions>
      </nb-card-header>
      <nb-card-body
        style="height: 200pxpx; min-height: 580px; padding-bottom: 31px"
      >
        <div class="row">
          <div class="col-sm-12">
            <div class="clear"></div>
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. user or inactive"
                #input
              />
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let data; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let data">
                  {{ data.username | titlecase }}
                </td>
              </ng-container>
              <!-- Weight Column -->

              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let data">
                  <span
                    >{{ data.role === "admin" ? "👨🏻‍💻" : "👨🏻‍💼" }}
                    {{ data.role | titlecase }}</span
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let data">{{ data.email }}</td>
              </ng-container>

              <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef>Department</th>
                <td mat-cell *matCellDef="let data">
                  <code>{{ data.department | titlecase }}</code>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let data">
                  <span
                    class="pointer"
                    (click)="changeStatus(data)"
                    [ngClass]="{
                      active: data.status == 'active',
                      inactive: data.status == 'inactive',
                      low: data.status == 'pending'
                    }"
                    >{{ data.status | titlecase }}</span
                  >
                </td>
              </ng-container>

              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef>Options</th>
                <td mat-cell *matCellDef="let data">
                  <div style="display: flex">
                    <span>
                      <nb-action
                        nbPopover="Update User"
                        nbPopoverTrigger="hint"
                        nbPopoverPlacement="bottom"
                        (click)="updateUser(data)"
                        ><nb-icon id="updateUser" icon="edit-2"></nb-icon
                      ></nb-action>
                    </span>
                    &nbsp; &nbsp;
                    <span>
                      <nb-action
                        nbPopover="Delete User"
                        nbPopoverTrigger="hint"
                        nbPopoverPlacement="bottom"
                        (click)="deleteUser(data)"
                        ><nb-icon
                          id="deleteUser"
                          icon="trash-2-outline"
                        ></nb-icon
                      ></nb-action>
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>

            <!-- <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th scope="col" width="10%">Options</th>
                </tr>
              </thead>
              <tbody *ngIf="data">
                <ng-container *ngIf="data.length; else noData">
                  <tr *ngFor="let person of data; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ person.username | titlecase }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.role | titlecase }}</td>
                    <td scope="col">
                      <span
                        class="pointer"
                        (click)="changeStatus(person)"
                        [ngClass]="{
                          active: person.status == 'active',
                          inactive: person.status == 'inactive',
                          low: person.status == 'pending'
                        }"
                        >{{ person.status | titlecase }}</span
                      >
                    </td>
                    <td scope="col" id="options">
                      <span>
                        <nb-action
                          nbPopover="Update User"
                          nbPopoverTrigger="hint"
                          nbPopoverPlacement="bottom"
                          (click)="updateUser(person.id)"
                          ><nb-icon id="updateUser" icon="edit-2"></nb-icon
                        ></nb-action>
                      </span>
                      &nbsp; &nbsp;
                      <span>
                        <nb-action
                          nbPopover="Delete User"
                          nbPopoverTrigger="hint"
                          nbPopoverPlacement="bottom"
                          (click)="deleteUser(person)"
                          ><nb-icon
                            id="deleteUser"
                            icon="trash-2-outline"
                          ></nb-icon
                        ></nb-action>
                      </span>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noData>
                  <tr>
                    <td
                      colspan="6"
                      style="text-align: center; font-weight: bold"
                    >
                      No data available
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table> -->
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- <i class="fas fa-user"></i>
<nb-icon icon="edit-2" style="color: blue"></nb-icon>
<i class="fa-solid fa-pen-to-square"></i>-->
